TestOdd.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <!--Element restriction section-->
          <!--This elementSpec restricts the elements that can appear in "sp" to "speaker", "l", and "stage"-->
          <elementSpec ident="sp" module="core" mode="change">
            <content>
            <sequence preserveOrder="false">
              <elementRef key="speaker"/>
              <elementRef key="l"/>
              <elementRef key="stage"/>
            </sequence>
          </content>
        </elementSpec>
        <!--This elementSpec restricts the elements that can appear in "castList" to "head", "castGroup", and "castItem"-->
        <elementSpec ident="castList" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head"/>
              <elementRef key="castGroup"/>
              <elementRef key="castItem"/>
            </sequence>
          </content>
        </elementSpec>
        <!--This elementSpec restricts the elements that can appear in "prologue" to "head", "seg", "p", and "l"-->
        <elementSpec ident="prologue" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head"/>
              <elementRef key="seg"/>
              <elementRef key="p"/>
              <elementRef key="l"/>
            </sequence>
          </content>
        </elementSpec>
        <!--This elementSpec restricts the elements that can appear in "epilogue" to "head", "seg", "p", and "l"-->
        <elementSpec ident="epilogue" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head"/>
              <elementRef key="seg"/>
              <elementRef key="p"/>
              <elementRef key="l"/>
            </sequence>
          </content>
        </elementSpec>
        <!--This elementSpec restricts the elements that can appear in "div type='scene'" to "head"-->
        <elementSpec ident="div" type="scene" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head"/>
            </sequence>
          </content>
        </elementSpec>
        <!--"ref" restriction section-->
        <constraintSpec ident="body" scheme="isoschematron">
          <constraint>
        <sch:rule context="tei:body//tei:speaker/@xml:id">
          <sch:let name="IndexDoc" value="doc('https://raw.githubusercontent.com/leliebe/DRD/master/DRD_Index.xml?token=ANBHELUSA2P26G7SZK3QA7K5ZW75I')"/>
          <sch:let name="persIDs" value="$IndexDoc//tei:listPerson/tei:role/@xml:id"/>
          <sch:let name="persRefValues" value="for $i in $persIDs return concat('#', $i)"/>
          <sch:assert test=". = $persRefValues">
            Acceptable values: <sch:value-of select="string-join($persRefValues, ', ')"/>
          </sch:assert>
        </sch:rule>
          </constraint>
        </constraintSpec>
      </schemaSpec>


    </body>
  </text>
</TEI>
