TestOdd.odd

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
  xmlns:sqf="http://www.schematron-quickfix.com/validator/process">
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="linking"/>
        <moduleRef key="drama"/>
      
        <!--Element restriction section-->
       <!--The following elementSpec allows "front" to include "titlePage", "salute" (for dedicatory epistles), "castList", "prologue" and "epilogue" elements.-->
        <!--QUESTION: The multiple "alternate" elements here are to allow the non-"titlePage" elements to appear multiple times and in any order. Right now, it compiles and validates, but it
          seems to be a very cumberson way to handle this. Is there a cleaner method?-->
        <elementSpec ident="front" module="textstructure" mode="change">
          <content>
            <sequence preserveOrder="true">
            <elementRef key="titlePage" minOccurs="1" maxOccurs="1"/>
            <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
              <alternate>
            <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
            <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
            <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
            <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
            <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
              <alternate>
                <elementRef key="salute" minOccurs="0" maxOccurs="5"/>
                <elementRef key="castList" minOccurs="0" maxOccurs="1"/>
                <elementRef key="prologue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="epilogue" minOccurs="0" maxOccurs="5"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="set" minOccurs="0" maxOccurs="3"/>
              </alternate>
            </sequence>
          </content>
         <remarks>
            <p>
              The front matter of play texts from this era always includes a title page, 
              and generally includes one or more dedicatory epistles (encoded here as "salute"), 
              a cast list, and one or more prologues or epilogues. 
            </p>
         </remarks>
            <exemplum>
              <!--I'm getting a validation error saying that the exemplum element isn't valid here, but according to the TEI-c, it should be allowable as a child of elementSpec.
                I'm not quite sure why it isn't liking it here. Even with the error, though, the code validates against the TEI-encoded play.-->
              <p>The following example includes the "front" element for the play "The Unhappy Favourite." Most of the text has been removed to more clearly demonstrate the 
              XML structure. Removed text has been replaced by ellipses.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <front>
                  <titlePage>
                    <docTitle ref="#pt403">
                      ...
                    </docTitle>
                    <byline>...</byline>
                    <epigraph>
                      ...
                    </epigraph>
                    <docImprint>
                     ...
                    </docImprint>
                  </titlePage>
                  <pb n="ii"/>
                  <salute>
                    <head>
                      <p>
                        ...
                      </p>
                    </head>
                    <p> 
                      ...
                    </p>
                    <p>
                      ...
                    </p>
                  </salute>
                  <castList>
                    <head>PERSONS REPRESENTED</head>
                    <castGroup>
                      <castItem>
                        <role>
                          <name ref="#r21"><hi rend="italic">The Earl of</hi> Essex.</name>
                        </role>
                      </castItem>                    
                    </castGroup>
                  </castList>
                  <set>
                    <l>...</l>
                  </set>
                  <pb n="iv"/>
                  <prologue>
                    <head>
                      ...
                    </head>
                    <p>...
                    </p>
                  </prologue>
                  <pb n="v"/>
                  <prologue>
                    <head>
                      ...
                    </head>
                    <p>
                     ...
                    </p>
                  </prologue>
                </front>
              </egXML>
            </exemplum>
        </elementSpec>   
        
        
        <!--The following elementSpec restricts the elements that can appear in "salute" to "head" and "p"-->
        <elementSpec ident="salute" module="textstructure" mode="change">
          <content>
            <alternate>  
              <sequence preserveOrder="false">
            <elementRef key="head" minOccurs="0" maxOccurs="5"/>
            <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
              <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
            </alternate>
          </content>
          <remarks>
            <p>
              The "salute" element is used to enclose dedicatory epistles, letters to the reader, introductory essays, or other prefatory material
            that is meant for the reader (rather than a theatrical audience). It may only contain "head" elements (for any titles, opening addresses, etc.) 
            and "p" elements (for the body of the paratext).</p>
          </remarks>
          <exemplum>
            <!--I'm getting a validation error saying that the exemplum element isn't valid here, but according to the TEI-c, it should be allowable as a child of elementSpec.
                I'm not quite sure why it isn't liking it here. Even with the error, though, the code validates against the TEI-encoded play.-->
            <p>This example reproduces the dedicatory epistle from "The Unhappy Favourite" in full.</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <salute>
                <head>
                  <p>
                    <persName ref="#p164">
                      <seg>To the Most High, and Most Illustrious</seg>
                      <seg>PRINCESS</seg>
                      <seg>The LADY</seg>
                      <seg>ANN,</seg>
                      <seg>Daughter to His</seg>
                      <seg>Royal Highness.</seg>
                    </persName>
                  </p>
                </head>
                <p> rend="italic">MADAM,</p>
                <p>
                  <seg>I Humbly lay before your Highness Feet </seg>
                  <seg>an Unhappy Favourite, but 'tis in Your </seg>
                  <seg>Power to make him no longer so; Not his </seg>
                  <seg>Queens Repentance, nor her Tears cou'd </seg>
                  <seg>Rescue him from the Malice of his Enemies, </seg>
                  <seg>nor from the violence of a most unfortunate </seg>
                  <seg>Death; but your Highness with this unspeak-</seg>
                  <seg>able Favour, and so Divine a Condescention in </seg>
                  <seg>Protecting this once pitty'd Hero, will make him </seg>
                  <seg>live Eternally; and those who cou'd scarce be-</seg>
                  <seg>hold him on the Stage without weeping, when </seg>
                  <seg>they shall see him thus exalted, will all turn en-</seg>
                  <pb n="iii"/>
                  <seg>vious of his Fortune, which they can never think </seg>
                  <seg>deplorable while he is graced by your Highness. </seg>
                  <seg>For my own part, I tremble to express my </seg>
                  <seg>Thanks in so mean Language, but much more </seg>
                  <seg>when I wou'd pay my Tribute of just Praises to </seg>
                  <seg>your Highness; 'tis not to be attempted by any </seg>
                  <seg>Pen, Heaven has done it to a Miracle in Your </seg>
                  <seg>own Person, where are Written so many admi-</seg>
                  <seg>rable Characters, such Illustrious Beauties on a </seg>
                  <seg>Body so Divinely fram'd, that there is none so </seg>
                  <seg>dull and ignorant, that cannot read 'em plainly; </seg>
                  <seg>And when You vouchsafe to cast your Eyes on </seg>
                  <seg>those beneath You, they speak their own Excel-</seg>
                  <seg>lencies with greater Art and Eloquence, and </seg>
                  <seg>attract more Admiration than ever <persName ref="#pXXXXXXX"><hi
                    rend="italic">Virgil</hi></persName> did in </seg>
                  <seg>his Divinest Flight of Fancy, then <persName ref="#pXXXXXXX"><hi
                    rend="italic">Ovid</hi></persName> in speak-</seg>
                  <seg>ing of his Princess, or <persName ref="#pXXXXXXX"><hi rend="italic"
                    >Appelles</hi></persName> in drawing of his </seg>
                  <seg><hi rend="italic">Venus</hi>; Nor are Your Virtues, or Your Royal </seg>
                  <seg>Blood less admirable, sprung from the Inestima-</seg>
                  <seg>ble Fountain of so many Illustrious Plantagenets, </seg>
                  <seg>that I stand amaz'd at the Mightyness of the Sub-</seg>
                  <seg>ject which I have chosen; besides the awful Ge-</seg>
                  <seg>nius of your Highness bids me beware how I </seg>
                  <seg>come too near, lest I Prophane so many Incom-</seg>
                  <seg>parable Perfections in so Sacred a Shrine as your </seg>
                  <seg>Highness Person, where You ought to be ador'd, </seg>
                  <pb n="iv"/>
                  <seg>and not seen: For, like the Antient Jews in their </seg>
                  <seg>Religious Worship, 'tis a Favour for me to re-</seg>
                  <seg>main on the outward steps and not approach </seg>
                  <seg>nigh the Vail where the Crowd never come: This, </seg>
                  <seg>Most Illustrious Princess, ought to check my </seg>
                  <seg>Hand, least in attempting your Highness Cha- </seg>
                  <seg>racter, my Apprehension of the Excellence of </seg>
                  <seg>the Subject, and the Danger of miscarrying, should </seg>
                  <seg>make my Fancy sink beneath so Glorious a Bur-</seg>
                  <seg>then; Therefore I will forbear troubling your </seg>
                  <seg>Highness any further with the Rashness of my </seg>
                  <seg>Zeal; nor dare I be dictated any longer by it, </seg>
                  <seg>but will Conclude, in hopes that, when hereafter </seg>
                  <seg>I may chance to Record the Memory of a Prin-</seg>
                  <seg>cess, whose Beauty, Fortune and Merits are grea-</seg>
                  <seg>ter than <persName ref="#pXXXXXXX"><hi rend="italic">Homer</hi></persName>
                    ever feign'd, or <persName ref="#pXXXXXXX"><hi rend="italic"
                      >Tasso</hi></persName> Copy'd, I </seg>
                  <seg>may have leave to draw her Pattern from your </seg>
                  <seg>Highness, and when that is done, the rest of my </seg>
                  <seg>Life shall be employed in Prayers for your Eter-</seg>
                  <seg>nal Happiness, which be pleas'd to Interpret as </seg>
                  <seg>the Duty of, </seg>
                </p>
                <p>MADAM</p>
                <p>Your Highness's Most Obedient,</p>
                <p>Most humble, and</p>
                <p>Most Devoted Servant,</p>
                <p><persName ref="#p8"><hi rend="italic">John Banks</hi></persName></p>
              </salute>
            </egXML>
          </exemplum>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "sp" to "speaker", "l", "pb", and "stage"-->
        <!--QUESTION: This restriction has the same recursion problem as the "front" element-->
          <elementSpec ident="sp" module="core" mode="change">
            <content>
              <sequence preserveOrder="true">
                <elementRef key="speaker" minOccurs="1" maxOccurs="1"/>
                <elementRef key="l" minOccurs="1" maxOccurs="unbounded"/>
                <alternate>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <alternate>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <elementRef key="l" minOccurs="0" maxOccurs="unbounded"/>
                <alternate>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <alternate>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <elementRef key="l" minOccurs="0" maxOccurs="unbounded"/>
                <alternate>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <alternate>
                  <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="lg" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <elementRef key="l" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
          </content>
            <remarks>
              <p>
              The "sp" element is the containter for all lines of dialogue in a play. It must include a "speaker" element and at least one "line" element.
              It may also include "stage" elements if stage directions are printed in line with a line of dialogue. Stage directions that appear before, after,
              or otherwise outside of "speaker" tags (usually center-aligned) should not be included here. The "sp" element may also contain one or more self-closing "pb" elements 
              when a single speech runs across a page break(s).
              </p>
            </remarks>
            <exemplum>
              <p>The following example includes a "sp" element with no "stage" or "pb" elements.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <sp>
                  <speaker><name type="role" rend="italic" ref="#r22">Southampton</name></speaker>
                  <l> Meer Argument, your nice, and fine distinctions </l>
                  <l>To make a good Man Vitious, or a bad </l>
                  <l>Man Virtuous, ev'n as please the Sophisters---</l>
                  <l>My Lord, you are ingendring Snakes within you,</l>
                  <l>I fear you have a subtle stinging Heart; </l>
                  <l>And give me leave to tell you, that this Treason,</l>
                  <l>If any, ha's been hatch'd in <name type="role" rend="italic" ref="#23">Burleigh</name>'s School. </l> 
                  <l>I see Ambition in the fair Pretence, </l>
                  <l><name type="role" rend="italic" ref="#23">Burleigh</name> in all it's Cunning, dark Disguises,</l>
                  <l>And envious <name type="role" rend="italic" ref="#23">Cecil</name> ev'ry where. </l>
                </sp>
              </egXML>
            </exemplum>
            <exemplum>
              <p>The following example includes an "sp" element with both a "stage" and a "pb" element.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <sp>
                  <speaker><name type="role" rend="italic" ref="#r26">Queen</name></speaker>     
                  <l>Ha! </l>
                  <lg rend="braced">
                    <l>This unthought Blast has shockt me like an Ague--- </l>
                    <l>It has alarum'd every Sence, and spoyl'd me </l>
                    <l>Of all the awful courage of a Queen;</l>
                  </lg>
                  <stage rend="italic">Aside.</stage>
                  <l>But I'le recover---Say my <name type="role" rend="italic" ref="#r28">Nottinham</name>, </l>
                  <l>And <name type="role" rend="italic" ref="#r27">Rutland</name>, did you ever hear the like!</l>
                  <l>But are you well assur'd I am awake? </l>
                  <pb n="12"/>
                  <l>Bless me, and say it is a Horry'd Vision,</l>
                  <l>That I am not upon the Throne---</l>
                  <l>Ha! Is't not so?—Yes, Traytors, I'le obey you---</l>
                  <stage rend="italic">[She rises in a Rage.</stage>
                  <l>Here, sit you in my Place; take <name type="role" rend="italic" ref="#r23">Burleigh</name>'s Staff, </l>
                  <l>The Chancellor's Seal, and <name type="role" rend="italic" ref="#r21">Essex</name> valiant Head, </l>
                  <l>And leave me none but such as are your selves, </l>
                  <l>Knaves for my Counsell, Fools for Megistrates, </l>
                  <l>And Cowards for Commanders---Oh my Heart! </l>
                </sp>
              </egXML>
            </exemplum>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "castList" to "head", "castGroup", and "castItem"-->
        <elementSpec ident="castList" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head" minOccurs="0" maxOccurs="1"/>
              <elementRef key="castGroup" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
          </content>
          <remarks>
            <p>The "castList" element can contain a "head" element (which usually either reads "Dramatis Personae," "Persons Represented," or some other variation) 
            and must contain a "castGroup" element, which will contain all other details of roles and actors as printed in the play. Some plays may include multiple "castGroup"
            elements (see exempla below). Each play should include a single cast list, though some plays may not include printed cast lists (in these cases, cast lists should 
            be omitted.</p>
          </remarks>
          <exemplum>
            <p>
              The following example contains a "castList" with a single "castGroup"
            </p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <castList>
                <head>PERSONS REPRESENTED</head>
                <castGroup>
                  <castItem>
                    <role>
                      <name ref="#r21"><hi rend="italic">The Earl of</hi> Essex.</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p157"><hi rend="italic">Mr</hi>.
                      Clarke</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r22"><hi rend="italic">Earl of</hi> Southampton.</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p158"><hi rend="italic">Mr</hi>.
                      Gryffin</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r23">Burleigh</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p159"><hi rend="italic">Major</hi>
                      Mohun</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r24"><hi rend="italic">Sir</hi> Walter Rawleigh.</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p160"><hi rend="italic">Mr</hi>.
                      Disney</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r25"><hi rend="italic">Lieutenant of the</hi> Tower.</name>
                    </role>
                  </castItem>
                  <lb/>
                  <castItem>
                    <role>
                      <name ref="#r26"><hi rend="italic">Queen</hi> Elizabeth</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p161"><hi rend="italic">Mrs</hi>. Quyn</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r27"><hi rend="italic">Countess of</hi> Rutland</name>
                    </role>
                  </castItem>
                  <castItem>
                    <roleDesc><hi rend="italic">Secretly Married to the Earl of</hi>
                      Essex.</roleDesc>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p162"><hi rend="italic">Mrs</hi>. Cook</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>
                      <name ref="#r28"><hi rend="italic">Countess of</hi> Nottingham</name>
                    </role>
                  </castItem>
                  <castItem>
                    <actor><persName ref="#p163"><hi rend="italic">Mrs</hi>.
                      Corbett</persName>.</actor>
                  </castItem>
                  <castItem>
                    <role>Women.</role>
                  </castItem>
                  <castItem>
                    <role>Gentlemen, Guards and Attendants.</role>
                  </castItem>
                </castGroup>
              </castList>
            </egXML>
          </exemplum>
          <exemplum>
            <p>
              The following "castList" example includes a cast list with multiple "castGroup" elements.
            </p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <castList>
                <!--With the cast list, I have tried to represent the fact that there are several different bracketed groups in the original text. Is this the best way to handle that? -->
                <head>The Persons Names</head>
                <castGroup>
                  <head>Romans</head>
                  <castGroup rend="braced">
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c1">Saturninus</name></role>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c2">Bassianus</name></role>
                    </castItem>
                    <roleDesc><hi rend="italic">Sons of the Deceased Emperor</hi></roleDesc>
                  </castGroup>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c3">Titus Andronicus</name></role>
                    <roleDesc><hi rend="italic">An Old Roman General</hi></roleDesc>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c4">Marcus Andronicus</name></role>
                    <roleDesc><hi rend="italic">A Tribune, Brother to</hi> Titus</roleDesc>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c5">Emillius</name></role>
                    <roleDesc><hi rend="italic">A Tribune</hi></roleDesc>
                  </castItem>
                  <castGroup rend="braced">
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c6">Lucius</name></role>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c7">Mutius</name></role>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c8">Martius</name></role>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c9">Quintus</name></role>
                    </castItem>
                    <roleDesc><hi rend="italic">The Sons of</hi> Titus</roleDesc>
                  </castGroup>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c10">Junius</name></role>
                    <roleDesc><hi rend="italic">Son of</hi> Lucius, <hi rend="italic">a Child</hi></roleDesc>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c11">Lavinia</name></role>
                    <roleDesc>Daughter of Titus</roleDesc>
                  </castItem>
                  <castItem><seg>A Roman Captain, Other Captains, Senators, Tribunes,</seg> <seg>Plebeans, and Guards. A Dead Son of Titus</seg></castItem>
                </castGroup>
                <castGroup>
                  <head>Goths</head>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c12">Tamora</name></role>
                    <roleDesc>Queen of Goths</roleDesc>
                  </castItem>
                  <castGroup rend="braced">
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c14">Alarbus</name></role>
                      <roleDesc>A Mute</roleDesc>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c15">Chiron</name></role>
                    </castItem>
                    <castItem>
                      <role><name type="person" rend="italic" ref="#c16">Demetrius</name></role>
                    </castItem>
                    <roleDesc>The Queens Sons</roleDesc>
                  </castGroup>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c17">Aron</name></role>
                    <roleDesc>A Moor in favour with Tamora, and her General</roleDesc>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c18">A Goth</name></role>
                    <roleDesc>A Common Souldier</roleDesc>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c19">His Wife</name></role>
                  </castItem>
                  <castItem>
                    <role><name type="person" rend="italic" ref="#c20">A Blackamoor Infant</name></role>
                  </castItem>
                  <roleDesc>All brought Captives to Rome by Titus</roleDesc>
                </castGroup>
              </castList>
            </egXML>
          </exemplum>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "prologue" to "head", "seg", "p", and "l"-->
        <elementSpec ident="prologue" module="drama" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="head"/>
              <alternate>
              <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
             <elementRef key="l" minOccurs="1" maxOccurs="unbounded"/>
             </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="l" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </sequence>
          </content>
          <remarks>
            <p>
            The "prologue" element should contain any material that is intended to be spoken to the audience before the formal beginning of the play. 
            Plays may contain multiple "prologues," usually written for specific occasions, and "prologues" may appear either in the front matter or in the back matter
            of a printed play text. A "prologue" element must include "l" elements (if in verse) or "seg" elements (if in prose). Usually, a "prologue" will also include a 
            "head" element which denotes its status as a prologue and which may indicate the conditions under which it was performed. Many prologues are also broken into 
            multiple "p" elements, each of which consists of several lines or segments. 
            </p>
          </remarks>
          <exemplum>
            <p>This exemplum includes the full text of a prologue in verse (using "l" elements) from "The Unhappy Favourite"</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <prologue>
                <head>
                  <seg>PROLOGUE</seg>
                  <seg>Spoken to the <persName ref="#p172">King</persName> and <persName
                    ref="#p173">Queen</persName> at their coming</seg>
                  <seg>to the House, and Written on purpose</seg>
                  <seg>By <persName ref="#p112">Mr. <hi rend="italic"
                    >DRYDEN</hi></persName>.</seg>
                </head>
                <p>
                  <hi rend="italic">
                    <l>WHEN first the Ark was Landed on the Shore, </l>
                    <l>And Heaven had vow'd to curse the Ground no more, </l>
                    <l>When Tops of Hills the Longing Patriarch saw, </l>
                    <l>And the new Scene of Earth began to draw; </l>
                    <seg>The Dove was sent to View the Waves Decrease, </seg>
                    <l>And first brought back to Man the Pledge of Peace: </l>
                    <l>Tis needless to apply when those appear </l>
                    <l>Who bring the Olive, and who Plant it here. </l>
                    <l>We have before our eyes the Royal Dove, </l>
                    <l>Still Innocence is Harbinger to Love, </l>
                    <l>The Ark is open'd to dismiss the Train, </l>
                    <l>And People with a better Race the Plain. </l>
                    <l>Tell me you Powers, why should vain Man pursue, </l>
                    <l>With endless Toyl, each object that is new, </l>
                    <l>And for the seeming substance leave the true--- </l>
                    <l>Why should he quit for hopes his certain good, </l>
                    <l>And loath the Manna of his dayly food? </l>
                    <l>Must England still the Scene of Changes be, </l>
                    <l>Tost and Tempestuous like our Ambient Sea? </l>
                    <l>Must still our Weather and our Wills agree? </l>
                    <l>Without our Blood our Liberties we have, </l>
                    <l>Who that is Free would Fight to be a Slave? </l>
                    <l>Or what can Wars to after Times Assure, </l>
                    <l>Of which our Present Age is not secure? </l>
                    <l>All that Our Monarch would for us Ordain, </l>
                    <l>Is but t'Injoy the Blessings of his Reign. </l>
                    <l>Our Land's an Eden, and the Main's our Fence, </l>
                    <l>While we Preserve our State of Innocence; </l>
                    <l>That lost, then Beasts their Brutal Force employ, </l>
                    <l>And first their Lord, and then themselves destroy: </l>
                    <l>What Civil Broils have cost we knew too well, </l>
                    <l>Oh let it be enough that once we fell, </l>
                    <l>And every Heart conspire with every Tongue, </l>
                    <l>Still to have such a King, and this King Long. </l>
                  </hi>
                </p>
              </prologue>
            </egXML>
          </exemplum>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "epilogue" to "head", "seg", "p", and "l"-->
        <elementSpec ident="epilogue" module="drama" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="head"/>
              <elementRef key="seg"/>
              <elementRef key="p"/>
              <elementRef key="l"/>
            </sequence>
          </content>
          <remarks>
            <p>
              Epilogues follow all the same conventions as prologues. See "prologue" restrictions for further details and examples.
            </p>
          </remarks>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "div'" to "head", "stage", "seg", "sp", "p", and "pb". Note: "div" is only used for scene breaks.-->
        <elementSpec ident="div" module="textstructure" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="head" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              <alternate>
              <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
              <alternate>
                <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
                <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </sequence>
          </content>
          <remarks>
            <p>
              The "div" element is only used to denote scene breaks. It must include a "head" element which details the Act and Scene division as printed in the play text and a 
              "stage" element which reproduces the stage direction immediately following the scene declaration. It must also contain "sp" elements and may include "stage" or "pb" 
              elements. In rare instances, a "p" or "seg" element may be required for the proper representation of a masque or a dumbshow. 
            </p>
          </remarks>
          <exemplum>
            <p>
              The following example is of a segement of a "div" element from "The Unhappy Favourite." Though the scene continues for a few hundred more lines, the 
              closing "div" element has been included here for clarity.
            </p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <div type="scene" n="1.1">
                <head rend="align(center)">Actus Primus, Scæna Prima</head>
                <stage rend="align(center)">
                  <seg><hi rend="italic">Countess of</hi><name type="person" ref="#r28">Nottingham</name>, <name type="person" ref="#r23">Burleigh</name>
                    <hi rend="italic">at several Doors.</hi></seg>
                  <seg><hi rend="italic">The Countess Reading a Letter.</hi></seg>
                </stage>
                <sp>
                  <speaker><name type="role" rend="italic" ref="#r28">Nottingham</name></speaker>
                  <l>HELP me to rail Prodigious minded Burleigh, </l>
                  <l>Prince of bold <hi rend="italic">English</hi> Councils, teach me how </l>
                  <l>This hateful Breast of mine may Dart forth words, </l>
                  <l>Keen as thy Wit, Malitious as thy Person? </l>
                  <l>Then I'le Caress thee, stroak thee into shape. </l>
                  <l>This Rockey dismal Form of thine that holds </l>
                  <l>The most Seraphick Mind, that ever was; </l>
                  <l>I'le heal and Mould thee, with a soft Embrace;</l>
                  <l>Thy Mountain Back shall yield beneath these Arms,</l>
                  <l>And thy pale wither'd Cheeks that never glow,</l>
                  <l>Shall then be deck'd with Roses of my own---</l>
                  <l>Invent some new strange Curse that's far above</l>
                  <l>Weak Womans Rage to Blast the Man I Love.</l>
                </sp>
              </div>
            </egXML>
          </exemplum>
        </elementSpec>
        <!--The following elementSpec restricts the elements that can appear in "head'" to "head", "stage", "seg", "sp", "p", "pb", and "lb".-->
        <elementSpec ident="head" module="textstructure" mode="change">
          <content>
              <alternate>
            <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="stage" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="sp" minOccurs="1" maxOccurs="unbounded"/>
            <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="l" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="pb" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="lb" minOccurs="0" maxOccurs="unbounded"/>
            <textNode/>
              </alternate>  
          </content>
          <remarks>
            <p>
              "Head" is a versatile element that performs many roles in DRD. Generally, it is used to note a title-like structure at the beginning of a discrete section of text 
              (e.g., the prologue or the start of a new scene). In all cases, "head" elements can include only the elements in the list above. Most commonly, "head" elements will 
              comtain "seg" elements to denote a typographically distinct portion of the header in question, usually across a line break. However, because "head" elements are 
              highly unstandardized across the period, many configurations are possible. As DRD expands and patterns become clearer, this category is expected to become more narrow.
            </p>
            <exemplum>
              <p>
                The following example is from the dedicatory epistle for "The Unhappy Favourite."
              </p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <head>
                  <p>
                    <persName ref="#p164">
                      <seg>To the Most High, and Most Illustrious</seg>
                      <seg>PRINCESS</seg>
                      <seg>The LADY</seg>
                      <seg>ANN,</seg>
                      <seg>Daughter to His</seg>
                      <seg>Royal Highness.</seg>
                    </persName>
                  </p>
                </head>
              </egXML>
            </exemplum>
          </remarks>
        </elementSpec>
 <!--Attribute restriction section-->
        <!--The following elementSpec requires "div" elements to include an "n" attribute-->
        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <!--The following elementSpec requires "pb" elements to include an "n" attribute-->
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="change" usage="req"></attDef>
          </attList>
        </elementSpec>
        <!--The following elementSpec requires "name" elements to include an "n" attribute-->
        <elementSpec ident="name" module="core" mode="change">
          <attList>
            <attDef ident="ref" mode="change" usage="req"></attDef>
            <attDef ident="type" mode="change" usage="opt"></attDef>
            <attDef ident="rend" mode="change" usage="opt"></attDef>
          </attList>
        </elementSpec>
        <!--"ref" restriction section. Currently, the following Schematron element doesn't 
          work (document reads as valid, even when using invalid ref numbers. Needs further debugging.)-->
        <elementSpec ident="speaker" module="drama" mode="change">
          <constraintSpec ident="WrongMissingRef" scheme="schematron">
           <constraint>
             <sch:pattern>
            <sch:rule context="tei:text//tei:persName/@ref" role="warning">
          <sch:let name="IndexDoc" value="doc('https://raw.githubusercontent.com/leliebe/DRD/master/DRD_Index.xml')"/>
          <sch:let name="persIDs" value="$IndexDoc//tei:listPerson//tei:person/@xml:id"/>
          <sch:let name="persRefValues" value="for $i in $persIDs return concat('#', $i)"/>
          <sch:assert test=". = $persRefValues">
            Acceptable values: <sch:value-of select="string-join($persRefValues, ', ')"/> If this is a new role, it needs to be added to the database.
          </sch:assert>
        </sch:rule>
      </sch:pattern>
            </constraint>
        </constraintSpec>
        </elementSpec>
      </schemaSpec>


    </body>
  </text>
</TEI>
</sch:schema>
